#product{
    background: #303030;
}
#product h4,span,p,h2 {
    color:#fff;
}


/* start h2 */
h2
	{
		text-align: center;
		font-size: 40px;
		padding-bottom: 40px;
	}	
h2 span
	{
		color: #28a7e9;
		font-weight: bold;
	}
/* end h2 */

/* start about team service portfolio contact */
#about, #product, #service,
#portfolio, #contact
	{
		padding-top: 60px;
		padding-bottom: 40px;
	}
/* end about team service portfolio contact */

/* start Product */
#product .team-wrapper
	{
		background: #404040;
		padding-bottom: 10px;
		-webkit-transition: all 0.4s ease-in-out;
		        transition: all 0.4s ease-in-out;
		position: relative;
	}
#product .team-wrapper:hover
	{
		cursor: pointer;
		opacity: 0.4;
		bottom: 4px;
	}
#product .team-wrapper .team-des
	{
		padding: 20px;
	}
#product .team-wrapper .team-des span
	{
		color: #28a7e9;
		display: block;
		font-weight: bold;
		padding-bottom: 12px;
	}

/* end Product */