<!-- start Product -->
<section id="product">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a routerLink="/categories"><h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">Our <span>Product</span></h2></a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.3s">
                <div class="team-wrapper">
                    <img src="images/images-keyboar.jpg" class="img-responsive" alt="team img 1">
                    <div class="team-des">
                        <h4>Bàn phím</h4>
                        <span>Chi tiết</span>
                        <p>Bàn phím các loại laptop: Dell, Asus, Acer, Lenovo, Sony..VV</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.6s">
                <div class="team-wrapper">
                    <img src="images/images-chuot.jpg" class="img-responsive" alt="team img 2">
                    <div class="team-des">
                        <h4>Chuột</h4>
                        <span>Chi tiết</span>
                        <p>Chuột không dây, chuột có dây,chuột Gamming.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.3s">
                <div class="team-wrapper">
                    <img src="images/images-ram.jpg" class="img-responsive" alt="team img 3">
                    <div class="team-des">
                        <h4>Ram</h4>
                        <span>Chi tiết</span>
                        <p>Ram 2-8GB,DDR3,DDR3L..VV.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.6s">
                <div class="team-wrapper">
                    <img src="images/images-lkdt.jpg" class="img-responsive" alt="team img 4">
                    <div class="team-des">
                        <h4>Linh kiện điện tử</h4>
                        <span>Chi tiết</span>
                        <p>Chíp Aduno,Led,IC,Led,Điện trở .VV</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<router-outlet></router-outlet>
<!-- end Product -->