@model ProjectShopTLCNCore.Models.Products

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Products</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ProductId" />
        <div class="form-group">
            <label asp-for="AvgRating" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AvgRating" class="form-control" />
                <span asp-validation-for="AvgRating" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CategoryId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Discontinued" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Discontinued" class="form-control" />
                <span asp-validation-for="Discontinued" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Discount" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IsDelete" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IsDelete" class="form-control" />
                <span asp-validation-for="IsDelete" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IsNew" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IsNew" class="form-control" />
                <span asp-validation-for="IsNew" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Note" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Picture" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Picture" class="form-control" />
                <span asp-validation-for="Picture" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ProductName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ReorderLevel" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ReorderLevel" class="form-control" />
                <span asp-validation-for="ReorderLevel" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SupplierId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="SupplierId" class="form-control" asp-items="ViewBag.SupplierId"></select>
                <span asp-validation-for="SupplierId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UnitPrice" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UnitPrice" class="form-control" />
                <span asp-validation-for="UnitPrice" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UnitsInStock" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UnitsInStock" class="form-control" />
                <span asp-validation-for="UnitsInStock" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

