<!-- start about -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">WE ARE <span>EC</span></h2>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
                <div class="media">
                    <div class="media-heading-wrapper">
                        <div class="media-object pull-left">
                            <i class="fa fa-mobile"></i>
                        </div>
                        <h3 class="media-heading">PROFESSION</h3>
                    </div>
                    <div class="media-body">
                        <p>Luôn đảm bảo uy tín, mang đến dịch vụ tốt nhất cho khách hàng, Nhân viên có kinh nghiệm trong nghề</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-offset="50" data-wow-delay="0.9s">
                <div class="media">
                    <div class="media-heading-wrapper">
                        <div class="media-object pull-left">
                            <i class="fa fa-comment-o"></i>
                        </div>
                        <h3 class="media-heading">FREE SUPPORT</h3>
                    </div>
                    <div class="media-body">
                        <p>Đội ngũ hỗ trợ, tư vấn tận tình, giải quyết mọi thắc mắc của bạn về máy tính.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">
                <div class="media">
                    <div class="media-heading-wrapper">
                        <div class="media-object pull-left">
                            <i class="fa fa-html5"></i>
                        </div>
                        <h3 class="media-heading">SOCIAL</h3>
                    </div>
                    <div class="media-body">
                        <p>Hoạt động với phương châm vì lợi ích của cộng đồng.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end about -->