<!-- start service -->
        <section id="service">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">Our<span> Service</span></h2>
                    </div>
                    <div class="col-md-4 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                        <i class="fa fa-laptop"></i>
                        <h4>Repair Computer & Sell electronic components</h4>
                        <p>Sửa chữa, khắc phục sự cố máy tính, bán các linh kiện điện tử.</p>
                    </div>
                    <div class="col-md-4  wow fadeIn" data-wow-offset="50" data-wow-delay="0.9s">
                        <i class="fa fa-download"></i>
                        <h4>Install Software</h4>
                        <p>Cài đặt phần mềm chuyên ngành,hệ điều hành,khắc phục lỗi phàn mềm.</p>
                    </div>
                    <div class="col-md-4 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                        <i class="fa fa-cog"></i>
                        <h4>Technical advice</h4>
                        <p>Tư vấn,hỗ trợ, giải đáp thắc mắc về về tính, hướng dẫn cách sử dụng.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- end servie -->