<!DOCTYPE html>
<html>
<head>
    <title>Home | ES</title>
    <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
         <!--jQuery library -->
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <!--Latest compiled JavaScript-->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
        <!-- <link rel="stylesheet" href="css/header-css.css"> -->
        <!-- <link rel="stylesheet" href="css/index-css.css"> -->
</head>
<body>
        <nav class="navbar navbar-default templatemo-nav" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon icon-bar"></span>
                            <span class="icon icon-bar"></span>
                            <span class="icon icon-bar"></span>
                        </button>
                        <a href="#" class="navbar-brand">Cửa Hàng | EC</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#top">HOME</a></li>
                            <li><a href="#product">PRODUCT</a></li>
                            <li><a href="#service">SERVICE</a></li>
                            <li><a href="#about">ABOUT</a></li>
                            <li><a href="#portfolio">GALLERY</a></li>
                            <li><a href="#contact">CONTACT</a></li>
                            <li><a class="fa fa-shopping-cart" href="#cart"  data-toggle="modal" data-target="#myModal">  CART</a></li>

                        </ul>
                    </div>
                </div>
            </nav>

            <!-- start HOME -->
        <section id="Home">
            <div class="container-fluid">
                    <div class="row">
                        <!-- Carousel -->
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="http://unsplash.s3.amazonaws.com/batch%209/barcelona-boardwalk.jpg" alt="First slide">
                                    <!-- Static Header -->
                                    <div class="header-text hidden-xs">
                                        <div class="col-md-12 text-center">
                                            <h2>
                                                <span>Welcome to <strong>EC</strong></span>
                                            </h2>
                                            <br>
                                            <h3>
                                                <span>Nơi buôn bán linh kiện điện tử, sửa chữa,tư vấn khác phục sự cố máy tính.</span>
                                            </h3>
                                            <br>
                                            <div class="">
                                                <a class="btn btn-theme btn-sm btn-min-block" href="#">Login</a><a class="btn btn-theme btn-sm btn-min-block" href="#">Register</a></div>
                                        </div>
                                    </div><!-- /header-text -->
                                </div>
                                <div class="item">
                                    <img src="http://unsplash.s3.amazonaws.com/batch%209/barcelona-boardwalk.jpg" alt="Second slide">
                                    <!-- Static Header -->
                                    <div class="header-text hidden-xs">
                                        <div class="col-md-12 text-center">
                                            <h2>
                                                <span>Welcome to EC</span>
                                            </h2>
                                            <br>
                                            <h3>
                                                <span>Nơi buôn bán linh kiện điện tử, sửa chữa,tư vấn khác phục sự cố máy tính.</span>
                                            </h3>
                                            <br>
                                            <div class="">
                                                <a class="btn btn-theme btn-sm btn-min-block" href="#">Login</a><a class="btn btn-theme btn-sm btn-min-block" href="#">Register</a></div>
                                        </div>
                                    </div><!-- /header-text -->
                                </div>
                                <div class="item">
                                    <img src="http://unsplash.s3.amazonaws.com/batch%209/barcelona-boardwalk.jpg" alt="Third slide">
                                    <!-- Static Header -->
                                    <div class="header-text hidden-xs">
                               s         <div class="col-md-12 text-center">
                                            <h2>
                                                <span>Welcome to EC</span>
                                            </h2>
                                            <br>
                                            <h3>
                                                <span>Nơi buôn bán linh kiện điện tử, sửa chữa,tư vấn khác phục sự cố máy tính.</span>
                                            </h3>
                                            <br>
                                            <div class="">
                                                <a class="btn btn-theme btn-sm btn-min-block" href="#">Login</a><a class="btn btn-theme btn-sm btn-min-block" href="#">Register</a></div>
                                        </div>
                                    </div><!-- /header-text -->
                                </div>
                            </div>
                            <!-- Controls -->
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div><!-- /carousel -->
                    </div>
                </div>
        </section>

            <!-- end Home -->

            <!-- start Product -->
        <section id="product">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">Our <span>Product</span></h2>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.3s">
                        <div class="team-wrapper">
                            <img src="images/images-keyboar.jpg" class="img-responsive" alt="team img 1">
                                <div class="team-des">
                                    <h4>Bàn phím</h4>
                                    <span>Chi tiết</span>
                                    <p>Bàn phím các loại laptop: Dell, Asus, Acer, Lenovo, Sony..VV</p>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.6s">
                        <div class="team-wrapper">
                            <img src="images/images-chuot.jpg" class="img-responsive" alt="team img 2">
                                <div class="team-des">
                                    <h4>Chuột</h4>
                                    <span>Chi tiết</span>
                                    <p>Chuột không dây, chuột có dây,chuột Gamming.</p>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.3s">
                        <div class="team-wrapper">
                            <img src="images/images-ram.jpg" class="img-responsive" alt="team img 3">
                                <div class="team-des">
                                    <h4>Ram</h4>
                                    <span>Chi tiết</span>
                                    <p>Ram 2-8GB,DDR3,DDR3L..VV.</p>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.6s">
                        <div class="team-wrapper">
                            <img src="images/images-lkdt.jpg" class="img-responsive" alt="team img 4">
                                <div class="team-des">
                                    <h4>Linh kiện điện tử</h4>
                                    <span>Chi tiết</span>
                                    <p>Chíp Aduno,Led,IC,Led,Điện trở .VV</p>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end Product -->

        <!-- start service -->
        <section id="service">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">Our<span> Service</span></h2>
                    </div>
                    <div class="col-md-4 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                        <i class="fa fa-laptop"></i>
                        <h4>Repair Computer & Sell electronic components</h4>
                        <p>Sửa chữa, khắc phục sự cố máy tính, bán các linh kiện điện tử.</p>
                    </div>
                    <div class="col-md-4  wow fadeIn" data-wow-offset="50" data-wow-delay="0.9s">
                        <i class="fa fa-download"></i>
                        <h4>Install Software</h4>
                        <p>Cài đặt phần mềm chuyên ngành,hệ điều hành,khắc phục lỗi phàn mềm.</p>
                    </div>
                    <div class="col-md-4 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                        <i class="fa fa-cog"></i>
                        <h4>Technical advice</h4>
                        <p>Tư vấn,hỗ trợ, giải đáp thắc mắc về về tính, hướng dẫn cách sử dụng.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- end servie -->

                <!-- start about -->
        <section id="about">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">WE ARE <span>EC</span></h2>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
                        <div class="media">
                            <div class="media-heading-wrapper">
                                <div class="media-object pull-left">
                                    <i class="fa fa-mobile"></i>
                                </div>
                                <h3 class="media-heading">PROFESSION</h3>
                            </div>
                            <div class="media-body">
                                <p>Luôn đảm bảo uy tín, mang đến dịch vụ tốt nhất cho khách hàng, Nhân viên có kinh nghiệm trong nghề</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-offset="50" data-wow-delay="0.9s">
                        <div class="media">
                            <div class="media-heading-wrapper">
                                <div class="media-object pull-left">
                                    <i class="fa fa-comment-o"></i>
                                </div>
                                <h3 class="media-heading">FREE SUPPORT</h3>
                            </div>
                            <div class="media-body">
                                <p>Đội ngũ hỗ trợ, tư vấn tận tình, giải quyết mọi thắc mắc của bạn về máy tính.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">
                        <div class="media">
                            <div class="media-heading-wrapper">
                                <div class="media-object pull-left">
                                    <i class="fa fa-html5"></i>
                                </div>
                                <h3 class="media-heading">SOCIAL</h3>
                            </div>
                            <div class="media-body">
                                <p>Hoạt động với phương châm vì lợi ích của cộng đồng.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end about -->

<!-- start Gallery-->
        <section id="portfolio">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s"><span>EC</span> GALLERY</h2>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                        <div class="portfolio-thumb">
                           <img src="images/portfolio-img1.jpg" class="img-responsive" alt="portfolio img 1">
                                <div class="portfolio-overlay">
                                    <h4>Project One</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget dia.</p>
                                    <a href="#" class="btn btn-default">DETAIL</a>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                        <div class="portfolio-thumb">
                           <img src="images/portfolio-img2.jpg" class="img-responsive" alt="portfolio img 2">
                                <div class="portfolio-overlay">
                                    <h4>Project Two</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget dia.</p>
                                    <a href="#" class="btn btn-default">DETAIL</a>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                        <div class="portfolio-thumb">
                           <img src="images/portfolio-img3.jpg" class="img-responsive" alt="portfolio img 3">
                                <div class="portfolio-overlay">
                                    <h4>Project Three</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget dia.</p>
                                    <a href="#" class="btn btn-default">DETAIL</a>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                        <div class="portfolio-thumb">
                           <img src="images/portfolio-img4.jpg" class="img-responsive" alt="portfolio img 4">
                                <div class="portfolio-overlay">
                                    <h4>Project Four</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget dia.</p>
                                    <a href="#" class="btn btn-default">DETAIL</a>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                        <div class="portfolio-thumb">
                           <img src="images/portfolio-img3.jpg" class="img-responsive" alt="portfolio img 3">
                                <div class="portfolio-overlay">
                                    <h4>Project Five</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget dia.</p>
                                    <a href="#" class="btn btn-default">DETAIL</a>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                        <div class="portfolio-thumb">
                           <img src="images/portfolio-img4.jpg" class="img-responsive" alt="portfolio img 4">
                                <div class="portfolio-overlay">
                                    <h4>Project Six</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget dia.</p>
                                    <a href="#" class="btn btn-default">DETAIL</a>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                        <div class="portfolio-thumb">
                           <img src="images/portfolio-img1.jpg" class="img-responsive" alt="portfolio img 1">
                                <div class="portfolio-overlay">
                                    <h4>Project Seven</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget dia.</p>
                                    <a href="#" class="btn btn-default">DETAIL</a>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                        <div class="portfolio-thumb">
                           <img src="images/portfolio-img2.jpg" class="img-responsive" alt="portfolio img 2">
                                <div class="portfolio-overlay">
                                    <h4>Project Eight</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget dia.</p>
                                    <a href="#" class="btn btn-default">DETAIL</a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end Gallery -->

        <!-- start contact -->
        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">CONTACT WITH<span> US</span></h2>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.9s">
                        <form action="#" method="post">
                            <label>NAME</label>
                            <input name="fullname" type="text" class="form-control" id="fullname">
                            
                            <label>EMAIL</label>
                            <input name="email" type="email" class="form-control" id="email">
                            
                            <label>MESSAGE</label>
                            <textarea name="message" rows="4" class="form-control" id="message"></textarea>
                            
                            <input type="submit" class="form-control">
                        </form>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">
                        <address>
                            <p class="address-title">OUR ADDRESS</p>
                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie.</span>
                            <p><i class="fa fa-phone"></i> +84946494653</p>
                            <p><i class="fa fa-envelope-o"></i> TranDucThai8@gmail.com</p>
                            <p><i class="fa fa-map-marker"></i> 01, Võ Văn Ngân Street.</p>
                        </address>
                        <ul class="social-icon">
                            <li><h4>WE ARE SOCIAL</h4></li>
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="https://www.youtube.com/channel/UC4yzoGuKkCL_8FzI-B-x83A" class="fa fa-youtube"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- end contact -->
         <!-- start copyright -->
        <footer id="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">
                        PL &copy; Copyright 2016. Cửa Hàng ĐTTN</p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end copyright -->


        <!-- start Cart -->
        <!-- Modal -->
  
             <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title" style="color:black;" align="center"> Giỏ hàng của tôi</h4>
        </div>
        <div class="modal-body">
          
           <table class="table table-hover">
                <thead>
                    <tr>
                        <th style="color:black;">Sản phẩm</th>
                        <th style="color:black;">SL</th>
                        <th  style="color:black;" class="text-center">Giá</th>
                        <th  style="color:black;" class="text-center">Tổng</th>
                        <th> </th>
                    </tr>
                </thead><tbody>
                    <tr>
                        <td class="col-sm-8 col-md-6">
                        <div class="media">
                            <a class="thumbnail pull-left" href="#"> <img class="media-object" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png" style="width: 72px; height: 72px;"> </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">Product name</a></h4>
                                <h5 class="media-heading" style="color:black;"> by <a href="#">Brand name</a></h5>
                                <span style="color:black;">Status: </span><span class="text-success"><strong>In Stock</strong></span>
                            </div>
                        </div></td>
                        <td class="col-sm-1 col-md-1" style="text-align: center">
                        <input type="email" class="form-control" id="exampleInputEmail1" value="3">
                        </td>
                        <td class="col-sm-1 col-md-1 text-center" style="color:black;"><strong>$4.87</strong></td>
                        <td class="col-sm-1 col-md-1 text-center" style="color:black;"><strong>$14.61</strong></td>
                        <td class="col-sm-1 col-md-1">
                        <button type="button" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span> Xóa
                        </button></td>
                    </tr>
                <tbody>
             </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default">
              <span class="glyphicon glyphicon-shopping-cart" data-dismiss="modal"></span> Tiếp tục mua
           </button>
           <button type="button" class="btn btn-success" data-dismiss="modal" >
              Thanh toán <span class="glyphicon glyphicon-play"></span>
            </button>
        </div>
      </div>
      
    </div>
  </div>
        <!-- end Cart -->

</body>
</html>